{% extends 'wscube/base.html' %}
{% block page_header %}
  <h1>{{ topic.text }}</h1>
{% endblock page_header %}  
{% block content %}

  <p><a href="{% url 'wscube:new_entry' topic.id %}">Add new entry</a></p>
  
  {% for entry in entries %}
      <div class="card mb-3">
        <h4 class="card-header">
          {{ entry.date_added|date:'M d, Y H:i' }}
          <small><a href="{% url 'wscube:edit_entry' entry.id %}">edit entry</a></small>
        </h4>
        <div class="card-body">{{entry.text|linebreaks}}</div>
      </div>
    {% empty %}
      <p> No topics have been added yet. </p>
    {% endfor %}
  
{% endblock content %}